n8n/wf_update_all_caches.json
{
  "name": "wf_update_all_caches",
  "nodes": [
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "intent"
            },
            {
              "name": "location"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [-224, 272],
      "id": "316407d6-9b63-46da-9227-5a8cd51c5291",
      "name": "workflow_trigger"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "wRCvCmRGcILIoLjy",
          "mode": "list",
          "cachedResultName": "Underfoot — wf_error_notifications"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "json": "={{ $json }}",
            "callingWorkflow": "={{ $workflow }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "json",
              "displayName": "json",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "object"
            },
            {
              "id": "callingWorkflow",
              "displayName": "callingWorkflow",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "mode": "each",
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [224, 272],
      "id": "4251e922-ba15-4617-8928-d2df35cfbf0c",
      "name": "discord_error_notifier"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "ctgclUQYW6ckB5ou",
          "mode": "list",
          "cachedResultName": "Underfoot — wf_scrape_reddit_posts"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "location": "={{ $json.location }}",
            "intent": "={{ $json.intent }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "intent",
              "displayName": "intent",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "location",
              "displayName": "location",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "mode": "each",
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [0, 368],
      "id": "2f27f7b2-c0cd-462b-84fd-79acee563187",
      "name": "scrape_reddit_posts",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "r9kt1jHGjG91iPuQ",
          "mode": "list",
          "cachedResultName": "Underfoot — wf_scraper_facebook_events"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "intent": "={{ $json.intent }}",
            "location": "={{ $json.location }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "intent",
              "displayName": "intent",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "location",
              "displayName": "location",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "mode": "each",
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [0, 176],
      "id": "a389bac8-7260-4704-a4ba-03f19f70e2ae",
      "name": "scrape_facebook_events",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "TjJFvBLuhBlEO3c8",
          "mode": "list",
          "cachedResultName": "Underfoot — wf_maps_serp_backup_data"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "intent": "={{ $json.intent }}",
            "location": "={{ $json.location }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "intent",
              "displayName": "intent",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "location",
              "displayName": "location",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "mode": "each",
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [0, -16],
      "id": "276c0b07-c84b-4a43-acf8-6f5ec43515b6",
      "name": "run_maps_backup_data",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "So4ty17033VQwdOO",
          "mode": "list",
          "cachedResultName": "Underfoot — wf_serp_search_tool"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "intent": "={{ $json.intent }}",
            "location": "={{ $json.location }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "intent",
              "displayName": "intent",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "location",
              "displayName": "location",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "mode": "each",
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [0, 560],
      "id": "5312bc34-6549-4469-94cc-b825df570dc0",
      "name": "run_google_serp_search",
      "onError": "continueErrorOutput"
    }
  ],
  "pinData": {},
  "connections": {
    "workflow_trigger": {
      "main": [
        [
          {
            "node": "run_maps_backup_data",
            "type": "main",
            "index": 0
          },
          {
            "node": "scrape_facebook_events",
            "type": "main",
            "index": 0
          },
          {
            "node": "scrape_reddit_posts",
            "type": "main",
            "index": 0
          },
          {
            "node": "run_google_serp_search",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "scrape_reddit_posts": {
      "main": [
        [],
        [
          {
            "node": "discord_error_notifier",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "scrape_facebook_events": {
      "main": [
        [],
        [
          {
            "node": "discord_error_notifier",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "run_maps_backup_data": {
      "main": [
        [],
        [
          {
            "node": "discord_error_notifier",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "run_google_serp_search": {
      "main": [
        [],
        [
          {
            "node": "discord_error_notifier",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": "g0RA1ILyuSMHbt6q"
  },
  "versionId": "99681223-1f03-49eb-b4da-08fa090a0e3f",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "ca38a51753a4eaa26e21803b676daa6c69ce9542656c83ba5959cacf3a748990"
  },
  "id": "IAKagbbjRUADr5n4",
  "tags": []
}
